<form id="role-form" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">商户名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="mch_name" readonly/>
    </div>
    <label class="col-sm-2 control-label">店铺名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="store_name" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">联系人</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">
      联系电话</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      用户名</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="mch_phone" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">法人代表</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">车道数</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">商家规模（人数）</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">是否连锁</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">连锁店数量</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">开业时间</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">
      营业时间</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">主营业务</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">推荐业务</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">兼营业务</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control" readonly></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">营业面积（平方米）</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">日均营业额</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">人均消费额</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">签约人编号</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">签约人</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">签约人电话</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">合同签约时间</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label">合同编号</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">合同开始时间</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
    <label class="col-sm-2 control-label"> 合同到期时间</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"> 地区</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="province_code" readonly/>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="city_code" readonly/>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="county_code" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"> 详细地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">商家级别</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rolename" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">使用说明</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control" readonly></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">商户描述</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control" readonly></textarea>
    </div>
  </div>
</form>

<tools>
  <button data-dismiss="modal" class="btn-close" />
</tools>