<div class="panel panel-default border">
  <div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-table"></i>商户信息</h4>
  </div>
  <div class="panel-body">
    <form id="role-form" method="post" class="form-horizontal bv-form">

      <div class="form-group">
        <label class="col-sm-2 control-label">商户名称</label>
        <label class="col-sm-3 control-label" id="mch_name"></label>
        <label class="col-sm-2 control-label">店铺名称</label>
        <label class="col-sm-3 control-label" id="store_name"></label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">行政区划</label>
        <label class="col-sm-3 control-label" id="province_code"></label>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">商户地址</label>
        <div class="col-sm-5">
          <input id="mch_addr" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group"> <label class="col-sm-3 control-label">地图位置</label>
        <div class="col-sm-5">
          <div class="input-group mappicker">
            <input id="lnglat" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group"> <label class="col-sm-3 control-label">商户登录名</label>
        <div class="col-sm-5">
          <input id="loginName" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">签约人</label>
        <div class="col-sm-5">
          <input id="signatory" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">商户描述</label>
        <div class="col-sm-5">
          <textarea id="description" rows="5" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">封面</label>
        <div class="col-sm-5">
          <img alt="点击选择封面" class="form-control" id="photo_url" style="min-height: 200px;">
        </div>
      </div>
    </form>
  </div>
</div>