<tools>
  <button class="btn_back" />
  <button class="btn_save" />
</tools>
<style>
  .modal-container {
    position: absolute;
    max-height: 90%;
    overflow-y: auto;
    top: 66px;
    right: 10px;
    width: 280px;
  }

  .modal-container *[class*='col'] {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-container .form-group {
    margin-bottom: 0;
  }

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  #map-input-panel {
    margin-top: 5px;
  }

  .map-search {
    cursor: pointer;
  }

  .amap-sug-result {
    z-index: 9999;
  }
</style>
<div id="map-container">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="map-label" id="map" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true"> ×</button>
          <h4 class="modal-title" id="map-label">地图选点(鼠标滚动缩放地图,鼠标拖动移动地图)</h4>
        </div>
        <div class="modal-body" id="map-main"></div>
        <div class="modal-container">
          <div class="form-group col-sm-12">
            <div class="input-group">
              <input type="text" id="map-input" placeholder="请输入关键字进行搜索" class="form-control">
              <span class="input-group-addon map-search">搜索</span>
            </div>
          </div>
          <div class="from-group col-sm-12">
            <div id="map-input-panel"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button id='btn-ok' class="btn btn-default" disabled>确定</button>
          <button data-dismiss="modal" class="btn btn-primary">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="role-form" method="post" class="form-horizontal">
  <div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span style='color:red'>*</span> 商户名称</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="mch_name" name="mch_name" placeholder="输入商户名称..." />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span style='color:red'>*</span> 店铺名称</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="store_name" name="store_name" placeholder="输入店铺名称..." />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span style='color:red'>*</span> 用户名</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="mch_phone" name="mch_phone" placeholder="输入用户名..." />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span style='color:red'>*</span> 密码</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" name="password" placeholder="输入密码..." />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          <span style='color:red'>*</span> 商户照片</label>
        <div class="col-sm-8">
          <div class="input-group imagepicker">
            <input id="mch_photourl" name="mch_photourl" readonly type="text" class="form-control" />
            <span class="input-group-addon">
              <span class="map-set">...</span>
            </span>
          </div>
          <img id="mch_photourl_img" alt="点击选择商户照片" style="margin-top:1px;height:200px" class="form-control" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12"></div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 联系人</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="people" name="people" placeholder="输入联系人..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 联系电话</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="people_phone" name="people_phone" placeholder="输入联系电话..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">法人代表</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入法人代表..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">车道数</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入法人代表..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">商家规模（人数）</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入法人代表..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">是否连锁</label>
    <div class="col-sm-8">
      <select type="text" class="select2 form-control" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">连锁店数量</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入法人代表..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">开业时间</label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-date" id="rolename" name="rolename" placeholder="输入签约人..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 营业时间</label>
    <div class="col-sm-8">
      <select type="text" class="select2 form-control" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">主营业务</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入用户名..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">推荐业务</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入密码..." />
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">兼营业务</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">营业面积（平方米）</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入营业面积（平方米）..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">日均营业额</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入日均营业额..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">人均消费额</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入人均消费额..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">签约人编号</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入签约人编号..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 签约人</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="signatory" name="signatory" placeholder="输入签约人..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">签约人电话</label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-date" id="rolename" name="rolename" placeholder="输入签约人电话..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 合同签约时间</label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-date" id="rolename" name="rolename" placeholder="选择合同签约时间..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">合同编号</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入合同编号..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">合同开始时间</label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-date" id="rolename" name="rolename" placeholder="选择合同开始时间..." />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="col-sm-4 control-label">
      <span style='color:red'>*</span> 合同到期时间</label>
    <div class="col-sm-8">
      <input type="text" class="form-control form-date" id="rolename" name="rolename" placeholder="选择合同到期时间..." />
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">
      <span style='color:red'>*</span> 地区</label>
    <div class="col-sm-2">
      <select type="text" id="province_code" class="select2 form-control" />
    </div>
    <div class="col-sm-2">
      <select type="text" id="city_code" class="select2 form-control" />
    </div>
    <div class="col-sm-2">
      <select type="text" id="county_code" class="select2 form-control" />
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">
      <span style='color:red'>*</span> 详细地址</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="mch_addr" name="rolename" placeholder="输入详细地址..." />
    </div>
    <div class="col-sm-2">
      <div class="input-group mappicker">
        <input id="lnglat" name="lnglat" readonly placeholder="点击在地图中选择..." type="text" class="form-control" />
        <span class="input-group-addon">
          <span class="map-set">
            <i class="fa fa-map-marker"></i>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">商家级别</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入商家级别..." />
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">使用说明</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">商户描述</label>
    <div class="col-sm-10">
      <textarea id="Description" name="Description" cols="82" class="form-control"></textarea>
    </div>
  </div>
</form>
<form id="upload-mch_photourl" enctype="multipart/form-data" style="display:none">
  <input id="input-mch_photourl" name="input-mch_photourl" type="file">
</form>