<!-- BEGIN NOTIFICATION DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-notification">
  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span class="badge badge-default">7</span>
  </a>
  <ul class="dropdown-menu">
    <li class="external">
      <h3>有 5 条 未读消息</h3>
    </li>
    <li>
      <ul class="dropdown-menu-list"/>
    </li>
  </ul>
</li>
<!-- END NOTIFICATION DROPDOWN -->