<!-- BEGIN NOTIFICATION DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-notification">
  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-bell"></i>
    <span class="badge badge-default">7</span>
  </a>
  <ul class="dropdown-menu">
    <li class="external">
      <h3>有 5 条 未读消息</h3>
    </li>
    <li>
      <ul class="dropdown-menu-list"/>
    </li>
  </ul>
</li>
<!-- END NOTIFICATION DROPDOWN -->
<!-- BEGIN INBOX DROPDOWN -->
<li class="dropdown dropdown-extended dropdown-inbox">
  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="icon-envelope-open"></i>
    <span class="badge badge-default"> 4 </span>
  </a>
  <ul class="dropdown-menu">
    <li class="external"><h3></h3></li>
    <li>
      <ul class="dropdown-menu-list">
        <li>
          <a href="inbox.html?a=view">
            <span class="photo">
              <img src="assets/img/avatar.png" class="img-circle" alt="">
            </span>
            <span class="subject">
              <span class="from">
                Lisa Wong
              </span>
              <span class="time">Just Now </span>
            </span>
            <span class="message">
              Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</li>
<!-- END INBOX DROPDOWN -->