<a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
	<!--<img src="assets/img/logo.png" alt="logo" class="logo-default" />-->
	<i class="icon-settings"></i><span> 系统设置 </span><i class="fa fa-angle-down"></i>
</a>
<ul class="dropdown-menu">
	<li>
		<div class="mega-menu-content ">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4">
							<ul class="mega-menu-submenu">
								<li>
									<h3>反馈</h3>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-angle-right"></i> 需求建议 & 故障报修 <span class="badge badge-roundless badge-danger">new</span>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-angle-right"></i> 我的客服 <span class="badge badge-roundless badge-warning">new</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4">

						</div>
						<div class="col-md-4">
							<!-- 主题样式 -->
							<ul class="mega-menu-submenu">
								<li>
									<h3>主题设置</h3>
								</li>
								<li>
									<div class="theme-colors clearfix">
										<ul>
											<li class="color-default" data-style="default"></li>
											<li class="color-darkblue" data-style="darkblue"></li>
											<li class="color-blue" data-style="blue"></li>
											<li class="color-grey" data-style="grey"></li>
											<li class="color-light current" data-style="light"></li>
											<li class="color-light2" data-style="light2"></li>
										</ul>
									</div>
								</li>
							</ul>
							<!-- /主题样式 -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel-group" id="accordion">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="collapsed" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">相关下载</a>
								</h4>
							</div>
							<div class="panel-collapse in" id="collapseOne">
								<div class="panel-body">
									<a href="#" target="_black">车务通 3.0 Web 用户手册</a>
								</div>
							</div>
						</div>
						<div class="panel panel-info">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">关于</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" id="collapseThree">
								<div class="panel-body">
									<p>车务通 3.0 Web版</p>
									<p>Version 3.0.0.1 beta</p>
									<p>北京汇通国力软件有限公司 版权所有</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>