<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler">
  <i class="icon-close"></i>
</a>
<div class="page-quick-sidebar-wrapper">
  <div class="page-quick-sidebar">
    <div class="nav-justified">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#quick_sidebar_tab_1" data-toggle="tab"> 全部车辆
            <span class="badge badge-danger">2</span>
          </a>
        </li>
        <li>
          <a href="#quick_sidebar_tab_2" data-toggle="tab"> 分组结构 </a>
        </li>
        <li>
          <a href="#tab_my_focus" data-toggle="tab"> 我的关注 </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
          <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">

          </div>
          <div class="page-quick-sidebar-item">
            <div class="page-quick-sidebar-chat-user">
              <div class="page-quick-sidebar-nav">
                <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                  <i class="icon-arrow-left"></i>返回</a>
              </div>
              <div class="page-quick-sidebar-chat-user-messages">
                <div class="post out">
                  <img class="avatar" alt="" src="assets/img/avatar.png" />
                  <div class="message">
                    <span class="arrow"></span>
                    <a href="javascript:;" class="name">Bob Nilson</a>
                    <span class="datetime">20:15</span>
                    <span class="body">
                      When could you send me the report ?
                    </span>
                  </div>
                </div>
                <div class="post in">
                  <img class="avatar" alt="" src="assets/img/avatar.png" />
                  <div class="message">
                    <span class="arrow"></span>
                    <a href="javascript:;" class="name">Ella Wong</a>
                    <span class="datetime">20:15</span>
                    <span class="body">
                      Its almost done. I will be sending it shortly
                    </span>
                  </div>
                </div>
              </div>
              <div class="page-quick-sidebar-chat-user-form">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type a message here...">
                  <div class="input-group-btn">
                    <button type="button" class="btn blue">
                      <i class="icon-paper-clip"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="quick_sidebar_tab_2">
          <div>
            <div id="treeview_group"></div>
          </div>
        </div>
        <div class="tab-pane" id="tab_my_focus">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END QUICK SIDEBAR -->