<div class="panel panel-default border">
  <div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-cog fa-spin"></i> 参数设置</h4>
  </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="role-form">
            <div class="form-group">
                <label class="col-sm-3 control-label">默认密码</label>
                <div class="col-sm-5">
                    <input id="password" class="form-control" type="text" placeholder="输入默认用户密码...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 alert alert-info">
                    默认密码为新增用户时默认使用的密码.这里默认为123456.采用MD5+BASE64加密.
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分页大小</label>
                <div class="col-sm-5">
                    <input id="pagesize" class="form-control" type="text" placeholder="输入分页大小...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10 alert alert-info">
                    分页大小为分页数据每页显示的记录数,默认为10.
                </div>
            </div>
        </form>
    </div>
</div>
<tools>
    <a href="javascript:;" class="btn_save" style="display: inline-block;"></a>
</tools>