<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
  <img alt="" class="img-circle" src="assets/img/avatar9.jpg">
  <span class="username username-hide-mobile">小伍</span>
</a>
<ul class="dropdown-menu dropdown-menu-default">
  <li>
    <a href="javascript:;">
      <i class="icon-user"></i> 个人资料 </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="icon-envelope-open"></i> 我的消息 <span class="badge badge-danger"> 3 </span>
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="icon-rocket"></i> 我的任务 <span class="badge badge-success"> 7 </span>
    </a>
  </li>
  <li class="divider">
  </li>
  <li>
    <a href="javascript:;">
      <i class="icon-lock"></i> 锁定屏幕 </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="icon-key"></i> 注销 </a>
  </li>
</ul>