<ul class="nav navbar-nav">
  <li>
    <a href="/">首页</a>
  </li>
  <li class="menu-dropdown mega-menu-dropdown ">
    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
      图标按钮<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" style="min-width: 710px">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-6">
              <ul class="mega-menu-submenu">
                <li>
                  <h3>eCommerce</h3>
                </li>
                <li>
                  <a href="ecommerce_index.html" class="iconify">
                    <i class="icon-home"></i> eCommerce </a>
                </li>
                <li>
                  <a href="ecommerce_orders.html" class="iconify">
                    <i class="icon-basket"></i> Manage Orders <span class="badge badge-warning">2</span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="mega-menu-submenu">
                <li>
                  <h3>More UI Components</h3>
                </li>
                <li>
                  <a href="ui_toastr.html">
                    <i class="fa fa-angle-right"></i> Toastr Notifications </a>
                </li>
                <li>
                  <a href="ui_alert_dialog_api.html">
                    <i class="fa fa-angle-right"></i> Alerts & Dialogs API <span class="badge badge-roundless badge-danger">new</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li class="menu-dropdown classic-menu-dropdown ">
    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
      标准菜单 <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-left">
      <li class=" dropdown-submenu">
        <a href=":;">
          <i class="icon-wallet"></i> 普通菜单 </a>
        <ul class="dropdown-menu">
          <li class=" ">
            <a href="portlet_general2.html"> 菜单标志 <span class="badge badge-roundless badge-danger">new</span> </a>
          </li>
          <li class=" ">
            <a href="portlet_ajax.html"> 普通菜单 </a>
          </li>
        </ul>
      </li>
      <li class=" dropdown-submenu">
        <a href="javascript:;">
          <i class="icon-puzzle"></i> 多级菜单 </a>
        <ul class="dropdown-menu">
          <li class=" dropdown-submenu">
            <a href="#">
              <i class="icon-folder"></i> 二级菜单 </a>
            <ul class="dropdown-menu">
              <li class=" ">
                <a href="javascript:;"> 三级菜单 </a>
              </li>
              <li class=" ">
                <a href="javascript:;"> 三级菜单 </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>