<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet">
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet">
<link href="assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="assets/css/blog.css" rel="stylesheet"/>
<link href="assets/css/news.css" rel="stylesheet"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="assets/css/components-rounded.css" id="style_components" rel="stylesheet"/>
<link href="assets/css/plugins.css" rel="stylesheet"/>
<link href="assets/css/layout.css" rel="stylesheet"/>
<link id="style_color" href="assets/css/themes/default.css" rel="stylesheet"/>
<!-- END THEME STYLES -->