<form class="form-horizontal form-border">
    <div class="form-group">
        <label class="col-sm-3 control-label">登录名:</label>
        <div class="col-sm-9">
            <input id="account" class="form-control" type="text" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">姓名:</label>
        <div class="col-sm-9">
            <input id="username" type="text" class="form-control" placeholder="输入你的姓名..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">昵称:</label>
        <div class="col-sm-9">
            <input id="nickname" type="text" class="form-control" placeholder="输入你的昵称..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">EMail:</label>
        <div class="col-sm-9">
            <input id="email" type="text" class="form-control" placeholder="输入你的EMail..." />
        </div>
    </div>
    <div class="separator miniseparator"></div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <a class="btn_back custom"></a>
            <a class="btn_save"></a>
        </div>
    </div>
</form>