<link rel="stylesheet" href="assets/css/login.css" />
<div class="container signinpanel">
  <div class="row">
    <div class="col-sm-12">
      <div class="single-form">
        <h4 class="no-margins">登录：</h4>
        <p class="m-t-md"></p>
        <input value="wangxin" type="text" class="form-control" id="inputusername" placeholder="输入登录账号..." />
        <input value="123456" type="password" class="form-control" id="inputpassword" placeholder="输入账号密码..." />
        <button class="btn btn-success btn-block btn-login">登录</button>
      </div>
    </div>
  </div>
  <div class="signup-footer">
    <div class="pull-left">
      测试用户：<br /> 超级管理员：debug
      <br /> 管理员：admin
      <br /> 会员：user
      <br />
    </div>
  </div>
</div>