<!-- 导航栏 -->
<aside class="sidebar">
    <nav class="sidebar-menu nav-collapse">
        <!-- 导航栏菜单 -->
        <ul class="sidebar-menu-container"></ul>
        <!-- /导航栏菜单 -->
    </nav>
</aside>
<!-- /导航栏 -->
<!-- 页面内容 -->
<div id="main-content">
    <div id="out-content"></div>
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <!-- 页面内容头部-->
                <div class="row content-header">
                    <div class="col-sm-6 col-xs-12">
                        <!-- 页面导航条 -->
                        <ul class="content-breadcrumb"></ul>
                        <!-- /页面导航条 -->
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="content-toolbar"></div>
                    </div>
                </div>
                <!-- /页面内容头部 -->
                <!-- 页面主体内容-->
                <div class="row" id="content-container">
                    <div class="col-xs-12 col-sm-12">
                        <div id="ajax-content" class="animated"></div>
                    </div>
                </div>
                <!-- /页面主体内容-->
            </div>
            <!-- /CONTENT-->
        </div>
    </div>
</div>
<!-- /页面内容 -->