<form id="role-form" method="post" class="form-horizontal">
  <div class="panel panel-default border">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-table"></i> 基本信息</h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">角色名称</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入角色名称..." />
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default border">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-sitemap"></i> 角色权限</h4>
    </div>
    <div class="panel-body">
      <div class="form-group" id="role-container"></div>
    </div>
  </div>
</form>
<tools>
  <a class="btn_back"></a>
  <a class="btn_save"></a>
</tools>