/* Login Screen */

.login {
  background: #18c8f6;
  background: url("../img/login-background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(255, 255, 255, .95);
}

.login .bootbox-body {
  color: #555;
}

.signinpanel {
  height: 340px;
  width: 400px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-shadow: 5px 5px 5px #666;
  border-radius: 15px;
}

.signinpanel .form-control {
  display: block;
  margin-top: 15px;
}

.signinpanel .btn {
  margin-top: 15px;
}

.signinpanel .single-form {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}

.signup-footer {
  border-top: solid 1px rgba(255, 255, 255, .3);
  margin: 20px 0;
  padding-top: 15px;
}