<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
  <h4 class="modal-title">定位设置</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form" id="role-form">
       <div class="col-sm-8">
		<button type="button" class="btn blue" id="doAdd">新增</button>&nbsp;&nbsp;
		<button type="button" class="btn blue" id="doDelete">删除</button>&nbsp;&nbsp;
		<button type="button" class="btn blue" id="doInfo">详情</button>&nbsp;&nbsp;
		</div>
		<br>
		<br>
		 <input type="checkbox" name="" value="定位设计计划名称"/>定位设计计划名称<br>
		 <input type="checkbox" name="" value="111"/>111<br>
		 <input type="checkbox" name="" value="11"/>11<br>
		  <input type="checkbox" name="" value="5"/>5<br>
      </form>

      <div class="col-sm-12">
        <table id="table"></table>
      </div>
    </div>
    <div class="col-md-3">
      <div id="treeview"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
