<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">轨迹属性设置</h4>
</div>
<div id="allmap" style="width:900px;height:500px;border:1px solid #CCCCCC;"></div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script type="text/javascript">
	
	$(function () {
	  setTimeout(function () {//添加延时加载。解决问题
	    // 百度地图API功能
	    var map = new BMap.Map("allmap");    // 创建Map实例
	    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
	    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	    map.enableScrollWheelZoom(false);     //开启鼠标滚轮缩放
	  }, 300);
	});

</script>
