<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">告警设置</h4>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-709535">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-422364" data-toggle="tab">偏航告警</a>
					</li>
					<li>
						<a href="#panel-42084" data-toggle="tab">超速告警</a>
					</li>
					<li>
						<a href="#panel-42085" data-toggle="tab">离线告警</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-422364">
						<p>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							偏航告警
							</br>
							
						</p>
					</div>
					<div class="tab-pane" id="panel-42084">
						<p>
							超速告警
							</br>
							超速告警
							</br>
							超速告警
							</br>
							超速告警
							</br>
							超速告警
							</br>
							超速告警
							</br>
							超速告警
							</br>
						</p>
					</div>
					<div class="tab-pane" id="panel-42085">
						<p>
							离线告警
							</br>
							离线告警
							</br>
							离线告警
							</br>
							离线告警
							</br>
							离线告警
							</br>
							离线告警
							</br>
							离线告警
							</br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>