<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">皮肤设置</h4>
</div>
<div class="modal-body" style="height:150px;width:100%">
    
    
	<div style="float:left;background-color:#CCCCCC;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#CC99CC;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#99CC66;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#996666;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#990066;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#669999;width:100px;height:100px"></div>
	<div style="float:left;background-color:FFFFFF;width:50px;height:100px"> </div>
	<div style="float:left;background-color:#660099;width:100px;height:100px"></div>
  
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>