<div class="modal-header">
	<div class="pull-right">
		<button id="btn_close" data-dismiss="modal" aria-hidden="true"></button>
	</div>
	<h4 class="modal-title">车辆信息设置</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-16 form-horizontal">
			<label class="col-sm-1 control-label">分组：</label>
			<div class="col-sm-2">
				<input id="gName" placeholder="输入分组名称" class="form-control" type="text">
			</div>
			<label class="col-sm-1 control-label">车辆名称：</label>
			<div class="col-sm-2">
				<input id="vName" placeholder="输入车辆名称" class="form-control" type="text">
			</div>
			<label class="col-sm-1 control-label">SIM卡号码：</label>
			<div class="col-sm-2">
				<input id="sim" placeholder="输入SIM卡号码" class="form-control" type="text">
			</div>
			<label class="col-sm-1 control-label">驾驶员：</label>
			<div class="col-sm-2">
				<input id="driver" placeholder="输入驾驶员名称" class="form-control" type="text">
			</div>
			<div class="input-groupcol col-sm-4">
				<br/>
				<a id="doSearch"></a>
				<a id="doReset"></a>
				<a id="doExport"></a>
			</div>
			<!-- <div class="form-group">
				<div class="col-sm-12">

					<button type="button" class="btn blue" id="doUpdate">修改</button>
					&nbsp;&nbsp;
					<button type="button" class="btn blue" id="doInfo">详情</button>
					&nbsp;&nbsp;
					<button type="button" class="btn blue" id="doEwm">导出二维码</button>
					&nbsp;&nbsp;
				</div>
			</div> -->
			<div class="col-sm-12">
				<table id="table"></table>
			</div>
		</div>

	</div>
</div>