<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#version" href="#v41">v1.1.0</a><code class="pull-right">2017.5.27</code>
    </h5>
  </div>
  <div id="v41" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="alert alert-warning">此版本是一个发布版本，主要是升级和修复bug。</div>
      <ol>
        <li>增加步骤（step）类型界面处理。</li>
        <li>微调导航菜单样式。</li>
      </ol>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#version" href="#v41">v1.0.0</a><code class="pull-right">2016.1.1</code>
    </h5>
  </div>
  <div id="v1" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="alert alert-success">正式版发布！！！</div>
      <ol>
        <li>动态表单生成，并支持自定义表单</li>
        <li>定义常规控件及表单样式</li>
        <li>集成文件上传组件</li>
        <li>集成权限管理、用户管理、角色管理模块</li>
        <li>集成日志记录及查询模块</li>
        <li>集成参数设置及数据字典管理模块</li>
        <li>集成即使通讯模块</li>
        <li>集成百度ECharts图标控件</li>
      </ol>
    </div>
  </div>
</div>