<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Metronic | Pages - Blog</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <% include includes/resource-css.html %>
</head>

<body class="page-header-menu-fixed">
<!-- BEGIN HEADER -->
<% include includes/header.html %>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
		<div class="container">
			<!-- BEGIN PAGE TOOLBAR -->
			<% include includes/page-toolbar.html %>
			<!-- END PAGE TOOLBAR -->
		</div>
	</div>
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="portlet light">
				<div class="portlet-body">
					<div class="row">
						<div class="col-md-12 blog-page">
							<div class="row">
								<div class="col-md-9 col-sm-8 article-block">
									<% include includes/content-blog.html %>
								</div>
								<!--end col-md-9-->
								<div class="col-md-3 col-sm-4 blog-sidebar">
									<% include includes/content-topic.html %>
								</div>
								<!--end col-md-3-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN PRE-FOOTER -->
<% include includes/page-pre-footer.html %>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<% include includes/page-footer.html %>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<% include includes/resource-scripts.html %>
<script>
jQuery(document).ready(function() {    
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Demo.init(); // init demo features
});
</script>
<!-- END JAVASCRIPTS -->
</body>

</html>