<div class="modal-header">
  <div class="pull-right">
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">轨迹回放</h4>
</div>
<div class="modal-body">
  <div class="row form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">时间段</label>
      <div class="col-sm-2">
        <input type="text" class="form-control form_datetime" id="starttime">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control form_datetime" id="stoptime">
      </div>
      <div class="col-sm-4">
        <a id="btn_search"></a>
        <a id="btn_reset"></a>
        <a id="btn_start"></a>
        <a id="btn_pause"></a>
        <a id="btn_stop"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group text-center">
      <div class="col-sm-12">
        <div id="allmap" style="border:1px solid #CCCCCC;"></div>
      </div>
    </div>
  </div>
</div>