  .btn {
    padding: 2px 7px;
  }
  
  .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: thin dotted #333;
  }
  
  .form-control-feedback {
    display: none !important;
  }
  
  .input-group-addon {
    border-radius: 0;
    position: relative;
    white-space: nowrap;
  }
  
  .input-group-addon, .input-group .form-control {
    display: table-cell;
  }
  
  .has-feedback .form-control {
    padding-right: 12px;
  }
  /* Forms */
  
  .form-control {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
  }
  
  .form-title {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .textarea-transition {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }
  /* Scroller */
  
  .scroller {
    margin: 0 !important;
    padding: 0 12px 0 0 !important;
  }
  
  .date-range {
    margin-top: 20px;
  }
  
  .date-range .btn-group .btn {
    margin-top: -8px;
    padding: 8px;
  }
  
  .date-range .reportrange {
    margin-right: 0px;
    margin-top: -8px;
    padding: 10px;
    cursor: pointer;
    min-width: 275px;
    border-radius: 0 4px 4px 0;
  }
  
  .date-range .reportrange span {
    font-size: 12px;
    font-weight: 300;
    font-weight: normal;
  }
  
  .date-range .reportrange .fa-calendar {
    text-transform: normal;
    margin-top: 0px;
    font-size: 14px;
  }
  
  .date-range .reportrange .fa-angle-down {
    font-size: 16px;
  }
  /* tab */
  
  .tabbable {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
  }
  
  .nav-tabs {
    /* margin-bottom: 20px; */
    padding-left: 41px;
  }
  
  .nav-tabs>li>a {
    border-radius: 0;
    margin-right: 0;
  }
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-top-color: transparent;
  }
  
  .tab-content {
    padding-top: 10px;
  }

   /*密码强度*/
   .pw-strength {clear: both;margin-top: 8px;text-align: center; overflow: hidden;border:solid 1px #ccc; height:20px;}
   /* .pw-bar{height: 20px;overflow: hidden;border: solid 1px #ccc;} */
   .pw-bar-on{width:0px; height:18px;transition: width .5s ease-in;-moz-transition: width .5s ease-in;-webkit-transition: width .5s ease-in;-o-transition: width .5s ease-in;}
   .pw-weak .pw-defule{ width:0%;}
   .pw-weak .pw-bar-on {width: 33.33%;background-color: #ed5565}
   .pw-medium .pw-bar-on {width: 66.66%; background-color:#f8ac59}
   .pw-strong .pw-bar-on {width: 100%; background-color: #468847}
   .pw-txt {overflow: hidden;margin-top: -16px;width:100%;}
   .pw-txt span {color: #ccc;float: left;font-size: 12px;text-align: center;width: 33.33%;}
   .pw-strength i{color:yellow;}
   .pw-strength~small{margin-top:5px;}