<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
  <h4 class="modal-title">拍照</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="theme-panel">
        <div class="theme-options">
          <div class="theme-option theme-colors clearfix">
            <span> 主题颜色 </span>
            <ul>
              <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default">
              </li>
              <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue">
              </li>
              <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
              </li>
              <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
              </li>
              <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
              </li>
              <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2">
              </li>
            </ul>
          </div>
          <div class="theme-option">
            <span>
              布局
            </span>
            <div class="btn-group btn-group-circle" data-toggle="buttons" id="layout-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="fluid"> 填充
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="boxed"> 固定
              </label>
            </div>
          </div>
          <div class="theme-option">
            <span>
              页眉
            </span>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="page-header-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="default"> 默认
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="fixed"> 固定
              </label>
            </div>
          </div>
          <div class="theme-option">
            <span>用户菜单</span>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="page-header-top-dropdown-style-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="light"> 浅色
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="dark"> 深色
              </label>
            </div>
          </div>
          <div class="theme-option">
            <span>侧边栏</span>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="sidebar-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="default"> 默认
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="fixed"> 固定
              </label>
            </div>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="sidebar-menu-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="accordion"> 折叠式
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="hover"> 浮动式
              </label>
            </div>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="sidebar-style-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="default"> 默认
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="light"> 亮度
              </label>
            </div>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="sidebar-pos-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="left"> 左侧显示
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="right"> 右侧显示
              </label>
            </div>
          </div>
          <div class="theme-option">
            <span> 页脚 </span>
            <div class=" btn-group btn-group-circle" data-toggle="buttons" id="page-footer-option">
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="default"> 默认
              </label>
              <label class="btn btn-default">
                <input type="radio" class="toggle" value="fixed"> 固定
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn default" data-dismiss="modal">Close</button>
  <button type="button" class="btn blue">Save changes</button>
</div>