<style>
  /* .login section {
    margin: 0;
    margin-top: 100px;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #fff;
    display: block;
    height: 100%;
  } */

  /* .login footer {
    background-color: transparent !important;
    border-top-width: 0px !important;
  } */

  /* 
  body.login {
    transition: all 0.25s;
  } */

  body.login aside {
    display: none;
  }

  body.login>section {
    margin: 0 !important;
  }

  /* .login-block h4 {
    margin-bottom: 20px;
  } */

  .login-block .btn {
    margin-top: 15px;
  }

  .login-block .login-form {
    padding: 30px;
  }

  #captcha {
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    right: 1px;
    top: 1px;
    height: 32px;
    width: 100px;
    background-color: #ccc;
  }

  #validateCode {
    padding-right: 85px;
    padding-left: 5px;
  }

  .input-icon {
    position: relative;
  }

  .input-icon>.form-control {
    padding-left: 33px;
  }

  .input-icon>i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 6px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 20px;
    text-align: center;
  }

  .login-container {
    display: flex;
    width: 800px;
    height: 450px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }


  .login-block,
  .login-info {
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
  }

  .login-info {
    flex: 1;
    height: 320px;
    width: 380px;
    /* border: solid 1px #ccc; */
    border-right-width: 0px;
    margin: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    background-color: #00a1ff;
    color: #fff;
  }

  .login-info p {
    line-height: 24px;
  }

  .login-info h5 {
    text-align: center;
  }

  .login-block {
    height: 400px;
    width: 300px;
    margin: auto;
    outline: 1px solid transparent;
    outline-offset: -1px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 5px;
    /* border: solid 1px #ccc; */
  }
</style>
<div class="login-container">
  <div class='login-info'>
    <h4>车友助理 - 商户管理平台</h4>
    <hr/>
    <p>
      准备一些内容，描述或者介绍登录相关内容
    </p>
    <p>
      测试用户：
      <br /> 业务管理视角：user1
      <br /> 系统管理视角：user2
      <br /> 合作方视角：user3,wangxin
      <br /> 开发人员视角：debug
    </p>
    <hr/>
    <h5>Copyright XXXX . 审字号XXXXX</h5>
  </div>
  <div class="login-block animated fadeInUp">
    <div class="login-form">
      <div class="form-group">
        <label class="control-label">账号/手机号码</label>
        <div class="input-icon">
          <i class="fa fa-user"></i>
          <input id="username" value="wangxin" class="form-control" type="text" placeholder="输入手机号..." />
        </div>
      </div>

      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">账号密码</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          <input id="password" value="123456" class="form-control" type="password" placeholder="输入账号密码..." />
        </div>
      </div>

      <div class="form-group">
        <label for="validateCode">
          验证码
          <small>&nbsp;&nbsp;点击图片刷新验证码</small>
        </label>
        <div class="input-icon">
          <img id="captcha" src="http://open.ymate.net/captcha" />
          <input id="validateCode" type="text" class="form-control placeholder-no-fix" placeholder="四位字符验证码">
        </div>
      </div>

      <button class="btn btn-success btn-block btn-login">登录</button>
    </div>
  </div>
</div>