<header>
  <!-- <div class="nav-fold">
    <span class="header-title">车友助理商户管理平台</span>
  </div> -->
  <div class="nav-fold">
    <span class="clear hidden-folded p-x">
      <span class="block _500 username">Jack Perez</span>
      <small class="block text-muted userrole">Administrator</small>
    </span>
  </div>
</header>

<nav class="sidebar-menu nav-collapse">
  <!-- 导航栏菜单 -->
  <ul class="sidebar-menu-container"></ul>
  <!-- /导航栏菜单 -->
</nav>

<footer>
  <ul class="nav">
    <li>
      <a href="javascript:;" class="sys-fullscreen">
        <i class="fa fa-television"></i> 全屏</a>
    </li>
    <!-- <li><a href="javascript:;" class="sys-changeinfo"><i class="fa fa-key"></i> 个人信息</a></li> -->
    <li>
      <a href="javascript:;" class="sys-chgpwd">
        <i class="fa fa-key"></i> 修改密码</a>
    </li>
    <li>
      <a href="javascript:;" class="sys-logout">
        <i class="fa fa-power-off"></i> 安全退出</a>
    </li>
  </ul>
</footer>