<div class="row">
  <div class="filter-container">
    <form method="post" class="core-form form-horizontal">
    </form>
  </div>
</div>
<div class='action-bar'>
  <div class="view-action">
    <button class="btn-add" />
    <button class="btn-selectall" />
    <button class="btn-selectopp" />
    <button class="btn-edit" />
    <button class="btn-remove" />
    <button class="btn-preview" />
  </div>
  <div class="common-action">
    <button class="btn-search" />
    <button class="btn-export" />
    <button class="btn-refresh" />
    <button class="btn-reset" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="record-container">
      <table class="qdp-table" id="table" />
    </div>
  </div>
</div>