/*********** 
Page Header
***********/


/* Header search bar, toggler button & top menu */

.page-header.navbar {
  background-color: #2b3643;
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
  color: #79869a;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
  background-color: #1caf9a;
  color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #3f4f62;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i {
  color: #a4aebb;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color: #3f4f62;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
  color: #a4aebb;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
  border-color: #e7eaf0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
  border-bottom-color: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
  background: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
  color: #62878f;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
  color: #5b9bd1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
  color: #3175af;
  text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
  border-bottom: 1px solid #EFF2F6 !important;
  color: #888888;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
  background: #f8f9fa;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
  background: #f1f1f1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
  background: #e4e4e4;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
  background-color: #1caf9a;
  color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
  border-color: transparent transparent transparent #1caf9a;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
  color: #5b9bd1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
  background-color: #dfe2e9;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #c6cfda;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
  color: #c6cfda;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
  width: 195px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
  color: #c6cfda;
}

.page-header.navbar .search-form {
  background: #232c37;
}

.page-header.navbar .search-form:hover {
  background: #3f4f62;
}

.page-header.navbar .search-form .input-group .form-control {
  color: #959fad;
}

.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
  color: #929cab;
  opacity: 1;
}

.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
  color: #929cab;
}

.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
  color: #929cab;
}

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
  color: #959fad;
}

.page-header.navbar .search-form.open {
  background: #3f4f62;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
  box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li > a {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li > a > i {
  color: #788ea8;
}

.page-header.navbar .hor-menu .navbar-nav > li.open > a, .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
  color: #d5dce4;
  background: #3f4f62 !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.open > a > i, .page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
  color: #889bb2;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a {
  color: white;
  background: #1caf9a !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a > i, .page-header.navbar .hor-menu .navbar-nav > li.active > a > i, .page-header.navbar .hor-menu .navbar-nav > li.current > a > i, .page-header.navbar .hor-menu .navbar-nav > li.current > a > i {
  color: #788ea8;
}

.page-header.navbar .hor-menu .navbar-nav > li.active .selected, .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
  border-top: 6px solid #1caf9a;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
  box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
  background: #3f4f62;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
  color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
  color: #f1f3f6;
  background: #47596e;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
  color: #f1f3f6;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
  color: #f1f3f6;
  background: #47596e;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
  color: #f1f3f6;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.divider {
  background-color: #495c72;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
  color: #c6cfda;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
  color: #c6cfda;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a > i {
  color: #788ea8;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
  color: #d5dce4;
  background: #3f4f62;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
  color: #889bb2;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a {
  color: #333 !important;
  background: white !important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
  color: #333 !important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
  color: white;
  background: #1caf9a;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
  color: #788ea8;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  background: white;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
  color: #000;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
  color: #888;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
  color: #000;
  background: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
  color: #000;
  background: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
  color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
  background-color: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
  border: 1px solid #efeff5;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
  border-top: 0;
}


/*************
Quick Sidebar
*************/


/***
Quick Sidebar Layout
***/

.page-quick-sidebar-wrapper {
  background: #435468;
}

.page-quick-sidebar-wrapper .page-quick-sidebar {
  background: #435468;
}


/*** 
Quick Sidebar Toggler 
***/

.page-quick-sidebar-toggler {
  background: #576d87;
}

.page-quick-sidebar-toggler:hover {
  background: #51667e;
}

.page-quick-sidebar-toggler > i {
  color: #d1d6de;
}


/***
Quick Sidebar Content
***/

.page-quick-sidebar-wrapper {
  color: #d1d6de;
  /* Quick sidebar chat */
  /* Quick sidebar alerts */
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a {
  color: #c9ced7;
  background: #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a:hover {
  background: #4d6178;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li.open > a {
  color: #c9ced7;
  background: #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li.active > a {
  border: 0;
  background: #435468;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu {
  border: 0;
  background: #576d87;
  box-shadow: 5px 5px rgba(142, 160, 182, 0.1);
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu:before {
  border-bottom: 7px solid #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu:after {
  border-bottom: 7px solid #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a {
  color: #d1d6de;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a > i {
  color: #ccd1d9;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a:hover {
  background: #5d7591;
  color: #d1d6de;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a:hover > i {
  color: #d4d9e0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li.active > a {
  background: #59708a;
  color: #d1d6de;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li.divider {
  background-color: #5d7591;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
  color: #a5afbd;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li {
  border-bottom-color: #495c72;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:hover {
  background: #495c72;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list {
  color: #c9ced7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-sub {
  color: #9ca7b7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-small {
  color: #919cae;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .name {
  color: #bdc4ce;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .datetime {
  color: #bdc4ce;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .message {
  color: #c9ced7;
  background: #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message .arrow {
  border-right-color: #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message .arrow {
  border-left-color: #576d87;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a {
  color: #b7bfca;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .desc {
  text-decoration: underline;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li .desc {
  color: #b1b9c6;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li .date {
  color: #919cae;
}

.page-footer .page-footer-inner {
  color: #98a6ba;
}
@media (max-width: 480px) {
  /* 480px */
  .page-header.navbar .top-menu {
    background-color: #364150;
  }
  .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    background-color: #415265;
  }
}

body {
  background-color: #364150;
}

.page-spinner-bar > div, .block-spinner-bar > div {
  background: #20c5ad;
}