@charset "UTF-8";
@import url(responsive/max767.css);
@import url(responsive/min768.max991.css);
* {
    outline: medium none !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-appearance: none;
    box-shadow: none !important;
}

body {
    margin: 0;
    font-size: 14px;
    border: 0 none;
    font-weight: 400;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:active,
a:focus {
    outline-style: none;
    -moz-outline-style: none;
}

.visible {
    display: block !important;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.list-inline {
    margin-left: 0;
}

.list-inline>li:first-child {
    padding-left: 0;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
}

.table th {
    text-align: left;
    vertical-align: bottom;
}

.table>thead:first-child>tr:first-child>th,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}

.btn {
    padding: 6px 12px;
}

.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: thin dotted #333;
}

.collapse {
    visibility: visible !important;
}

.dropdown-menu a {
    cursor: pointer;
}

.input-group-addon {
    position: relative;
    white-space: nowrap;
}

.input-group-addon,
.input-group .form-control {
    display: table-cell;
}

.navbar-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar-nav>li {
    position: relative;
    display: block;
}

.navbar-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
}


/* 网站导航样式 */

.content-breadcrumb {
    padding: 10px 18px;
    list-style: none;
}

.content-breadcrumb>li {
    display: inline-block;
}

.content-breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
}

.pageinfo {
    float: left;
    margin: 10px 10px;
}


/* 分页控件样式 */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.sub-menu-text .badge {
    right: 35px;
    position: absolute;
    float: right !important;
}

.separator {
    height: 1px;
    margin: 10px 0 30px;
}


/* Scroller */

.scroller {
    margin: 0 !important;
    padding: 0 12px 0 0 !important;
}

.date-range {
    margin-top: 20px;
}

.date-range .btn-group .btn {
    margin-top: -8px;
    padding: 8px;
}

.date-range .reportrange {
    margin-right: 0px;
    margin-top: -8px;
    padding: 10px;
    cursor: pointer;
    min-width: 275px;
    border-radius: 0 4px 4px 0;
}

.date-range .reportrange span {
    font-size: 12px;
    font-weight: 300;
    font-weight: normal;
}

.date-range .reportrange .fa-calendar {
    text-transform: normal;
    margin-top: 0px;
    font-size: 14px;
}

.date-range .reportrange .fa-angle-down {
    font-size: 16px;
}


/* Forms */

.form-control {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-title {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.textarea-transition {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}


/*弹出式对话框样式*/

#fbmodal {
    position: absolute;
    left: 0;
    z-index: 1000;
    text-align: left;
}

#fbmodal_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.fbmodal_hide {
    z-index: -100;
}

.fbmodal_overlay {
    background-color: #000;
    z-index: 101;
}

.fbmodal {
    display: none;
}


/*Table Scrollable*/

.table-scrollable {
    border: 1px solid #dddddd;
    margin: 10px 0 !important;
    overflow: auto;
    width: 100%;
}

.table-scrollable>.table-bordered {
    border: 0 none;
}

.table-scrollable>.table-bordered>thead>tr:last-child>th,
.table-scrollable>.table-bordered>tbody>tr:last-child>th,
.table-scrollable>.table-bordered>tfoot>tr:last-child>th,
.table-scrollable>.table-bordered>thead>tr:last-child>td,
.table-scrollable>.table-bordered>tbody>tr:last-child>td,
.table-scrollable>.table-bordered>tfoot>tr:last-child>td {
    border-bottom: 0 none;
}

.table-scrollable>.table-bordered>thead>tr>th:first-child,
.table-scrollable>.table-bordered>tbody>tr>th:first-child,
.table-scrollable>.table-bordered>tfoot>tr>th:first-child,
.table-scrollable>.table-bordered>thead>tr>td:first-child,
.table-scrollable>.table-bordered>tbody>tr>td:first-child,
.table-scrollable>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0 none;
}

.table-scrollable>.table-bordered>thead>tr>th:last-child,
.table-scrollable>.table-bordered>tbody>tr>th:last-child,
.table-scrollable>.table-bordered>tfoot>tr>th:last-child,
.table-scrollable>.table-bordered>thead>tr>td:last-child,
.table-scrollable>.table-bordered>tbody>tr>td:last-child,
.table-scrollable>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0 none;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0 none;
}

.table-scrollable>.table {
    background-color: #fff;
    margin: 0 !important;
    width: 100% !important;
}

.table-scrollable th,
.table-scrollable td {
    white-space: nowrap;
}


/*Date Range Picker*/

.daterangepicker .ranges {
    width: 200px !important;
}

.daterangepicker .ranges li {
    font-size: 15px !important;
}

.daterangepicker .ranges .input-mini,
.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
    width: 90px !important;
    font-size: 13px !important;
}

.applyBtn,
.cancelBtn {
    width: 90px !important;
}

.cancelBtn {
    margin-left: 7px !important;
}

.panel .panel-heading .panel-tools {
    float: right;
    display: inline-block;
    padding: 0;
    margin-bottom: 7px;
    clear: both;
    min-height: 30px;
    margin-top: -20px;
}

.panel .panel-heading .panel-tools>a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 5px;
}

.no-padding {
    padding: 0 !important;
}

.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.font-bold {
    font-weight: 600;
}

header {
    position: relative;
    border-radius: 0;
    margin: 0;
}

header .navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    width: 250px;
}

header .navbar-brand img {
    position: absolute;
    top: 2px;
    left: 60px;
}

header:before,
.navbar:after {
    content: " ";
    display: table;
}

header:after {
    clear: both;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-image: none;
    border-radius: 4px;
}

header .dropdown-toggle i {
    font-size: 17px;
}

header #navbar-left li.dropdown {
    font-weight: 400;
}

header #navbar-left i {
    margin-right: 5px;
}


/*.navbar-nav {margin: 7.5px -15px;}*/

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-nav.pull-right>li>.dropdown-menu,
.navbar-nav>li>.dropdown-menu.pull-right {
    left: 0px;
    right: 0px;
}

.dropdown-menu {
    max-width: 300px;
    padding: 0 !important;
    text-shadow: none;
}

.dropdown-menu .dropdown-title {
    display: block;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 10px;
}

.dropdown-menu .dropdown-title i {
    margin-right: 5px;
}

.dropdown-menu .footer {
    display: block;
}

.dropdown-menu .footer a {
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-bottom: none !important;
    border-top: none !important;
}

.dropdown-menu .footer a i {
    margin-left: 5px;
    font-size: 16px;
}

.dropdown-menu ul {
    margin: 0 !important;
    padding: 0 !important;
}


/* Navbar Right Menu */

.dropdown-menu>li>a {
    padding: 7px 20px !important;
}

.dropdown-menu>li:first-child>a {
    border-top: 0px;
}

.dropdown-menu>li:last-child>a {
    border-bottom: 0px;
}

.dropdown-menu.context>li>a {
    line-height: 30px;
}


/* Start Sidebar */

.mini-menu .sidebar {
    width: 50px;
    box-shadow: none;
    right: auto;
    top: auto !important;
}

.mini-menu .sidebar:before {
    width: 50px;
}

.mini-menu .sidebar-menu-container>li>a>.menu-text .badge {
    top: 15px;
    right: 10px;
}

.mini-menu .sidebar-menu-container>li>a>.menu-text .label {
    position: absolute;
    top: 15px;
    right: 10px;
}

.mini-menu .sidebar-menu-container>li>a>.menu-text {
    display: none;
}

.mini-menu .sidebar-menu-container>li.has-sub>a>.menu-text {
    border-right: none;
    border-top: none;
}

.mini-menu .sidebar-menu-container>li:hover>a>.menu-text {
    display: block;
    height: 45px;
    left: 51px;
    line-height: 38px;
    position: fixed;
    width: 250px;
    padding: 9px 0 0 20px;
    z-index: 121;
    margin-top: -34px;
    border: solid 1px #ccc;
    border-left: none;
}

.mini-menu .sidebar-menu-container>li>ul.sub {
    display: none !important;
    left: 50px;
    padding-bottom: 2px;
    /*padding-top: 50px;*/
    position: absolute;
    /*top: 0;*/
    width: 250px;
    z-index: 120;
}

.mini-menu .sidebar-menu-container>li:hover>ul.sub {
    display: block !important;
}

.mini-menu .sidebar-menu-container>li>a .arrow:before {
    display: none;
}

.mini-menu .sidebar-menu-container>li>a .arrow.open:before {
    display: none;
}

.sidebar {
    padding: 0 !important;
    width: 250px;
    z-index: 100;
    position: fixed !important;
}

.sidebar-menu-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu-container>li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}

.sidebar-menu-container>li>a {
    display: block;
    position: relative;
    margin: 0;
    border: 0 none;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.sidebar-menu-container>li a i {
    font-size: 16px;
    margin-right: 5px;
}

.sidebar-menu-container>li.has-sub .sub {
    position: relative;
    list-style: none;
    clear: both;
    padding-left: 25px;
}

.sidebar-menu-container>li.active>a {
    border: none;
    text-shadow: none;
}

.sidebar-menu-container>li>a .arrow:before {
    float: right;
    margin-top: -5px;
    font-size: 20px;
    font-family: FontAwesome;
    content: "\f106";
}

.sidebar-menu-container>li>a .arrow.open:before {
    content: "\f107";
}

.sidebar-menu-container>li>ul.sub:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
}

.sidebar-menu-container>li>ul.sub>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    margin: 5% 0 0;
}

.sidebar-menu-container>li.active>ul.sub {
    display: block;
}

.sidebar-menu-container>li>ul.sub>li {
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}

.sidebar-menu-container>li>ul.sub>li>a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 30px !important;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    background: none;
}

.sidebar-menu-container>li>ul.sub>li>a>i {
    font-size: 13px;
}

.sidebar-menu-container>li>ul.sub>li>a {
    margin-left: 0px;
    padding-left: 5px;
    font-size: 16px;
}

.sidebar-menu-container>li>ul.sub>li:first-child>a {
    border-top: 0px !important;
}


/* Sidebar collapse */

.sidebar-collapse,
.switcher {
    padding: 10px 10px 0 0;
    position: absolute;
    top: 6px;
    padding: 6px 8px;
}

.sidebar-collapse>[class*="fa-"],
.switcher>[class*="fa-"] {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    float: right;
}

.menu-text .badge {
    position: absolute;
    right: 35px;
    line-height: 15px;
    text-shadow: none;
}

footer {
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;
    position: fixed;
    padding-bottom: 5px;
    padding-top: 5px;
}


/* Content */

#main-content {
    margin-left: 250px;
}

.mini-menu #main-content {
    margin-left: 50px;
}

#ajax-content {
    padding-top: 20px;
}

.slimScrollDiv {
    overflow: visible !important;
}

#content>.slimScrollDiv>.slimScrollBar {
    margin-right: -15px !important;
}

#content>.slimScrollDiv>.slimScrollRail {
    margin-right: -15px !important;
}


/* Content */

#content {
    margin-top: 0;
    min-height: 100%;
}


/* 页面内容区-头部样式 */

.content-header {
    margin: 0 -15px 0px;
    position: relative;
}

.content-breadcrumb {
    margin-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
}

.content-breadcrumb a {
    text-shadow: none;
}

.content-breadcrumb>li+li:before {
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
    padding: 0 5px;
}


/* 页面内容区-头部-右侧工具栏*/

.content-toolbar {
    text-align: right;
    padding: 8px 0px 3px 0px;
}

#content .content-title {
    display: block;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 5px 0;
    padding: 0;
}

.sub {
    transition: max-height 0.6s ease-in-out 0s;
    -moz-transition: max-height 0.6s ease-in-out 0s;
    -webkit-transition: max-height 0.6s ease-in-out 0s;
    transition: opacity 0.6s ease-in-out 0s;
    -moz-transition: opacity 0.6s ease-in-out 0s;
    -webkit-transition: opacity 0.6s ease-in-out 0s;
}

.has-sub>.sub {
    max-height: 1px;
    display: none;
}

.mini-menu .has-sub>.sub,
.has-sub.open>.sub {
    max-height: 1000px;
    display: block;
}