@media only screen and (max-width: 767px) {
    /*屏幕宽度小于768时样式*/
    header .navbar-brand {
        float: none;
        height: 45px;
        width: 100%;
    }
    header .navbar-brand img {
        left: 10px;
    }
    header .navbar-brand a.switcher {
        position: absolute;
        left: auto;
    }
    header .navbar-brand a.switcher i {
        font-size: 14px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        box-shadow: none;
    }
    header li.dropdown {
        display: inline-block;
        vertical-align: middle;
    }
    header .dropdown-menu {
        position: absolute !important;
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
        text-align: left;
        z-index: 1002;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 40px;
        padding: 0 10px;
    }
    .navbar-nav .open .dropdown-menu>li.footer>a {
        line-height: 30px;
        padding: 0 10px;
    }
    /* sidebar */
    .sidebar {
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 1001;
        transition: right 0.3s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        width: 100% !important;
    }
    .mini-menu .sidebar {
        right: 0px;
        display: none;
        box-shadow: none;
        right: auto;
        top: auto !important;
        z-index: 1;
    }
    body {
        right: 0;
        transition: right 0.3s ease 0s;
    }
    .slidebar {
        position: absolute;
        right: 250px;
    }
    .slidebar .sidebar {
        right: 0;
        width: 250px !important;
        display: block;
        height: 100%;
    }
    #main-content {
        margin-left: 0px !important;
    }
    .mini-menu #main-content {
        margin-left: 0px !important;
    }
}