@media only screen and (max-width: 767px) {
  .mini-menu section {
    margin-left: 300px !important;
    margin-right: -300px !important;
  }
  section {
    z-index: 1 !important;
    margin-left: 0px !important;
  }
  .sidebar {
    display: none;
    z-index: 0 !important;
    width: 300px !important;
    transition: all 0.25s;
  }
  .mini-menu .sidebar {
    display: block;
  }
  .sidebar-collapse {
    display: block;
  }
  .panel-footer, #content-container {
    padding: 5px !important;
  }
  .content-breadcrumb {
    padding-left: 50px !important;
  }
  /*屏幕宽度小于768时样式*/
  header .navbar-brand {
    float: none;
    height: 45px;
    width: 100%;
  }
  header .navbar-brand img {
    left: 10px;
  }
  header .navbar-brand a.switcher {
    position: absolute;
    left: auto;
  }
  header .navbar-brand a.switcher i {
    font-size: 14px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    box-shadow: none;
  }
  header li.dropdown {
    display: inline-block;
    vertical-align: middle;
  }
  header .dropdown-menu {
    position: absolute !important;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    text-align: left;
    z-index: 1002;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 40px;
    padding: 0 10px;
  }
  .navbar-nav .open .dropdown-menu>li.footer>a {
    line-height: 30px;
    padding: 0 10px;
  }
  body {
    right: 0;
    transition: right 0.3s ease 0s;
  }
}