<div class="panel panel-default border">
  <div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-table"></i> 参数设置</h4>
  </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="role-form">
            <div class="form-group">
                <label class="col-sm-3 control-label">默认密码3</label>
                <div class="col-sm-5">
                    <input id="password" class="form-control" type="text" placeholder="输入默认用户密码...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分页大小</label>
                <div class="col-sm-5">
                    <input id="pagesize" class="form-control" type="text" placeholder="输入分页大小...">
                </div>
            </div>
        </form>
    </div>
</div>
<tools>
    <a href="javascript:;" class="btn_priv" style="display: inline-block;"></a>
    <a href="javascript:;" class="btn_next" style="display: inline-block;"></a>
</tools>