<form class="form-horizontal form-border">
    <div class="form-group">
        <label class="col-sm-3 control-label">登录名:</label>
        <div class="col-sm-9">
            <input id="username" class="form-control" type="text" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">原始密码:</label>
        <div class="col-sm-9">
            <input id="oldpwd" type="password" class="form-control" placeholder="输入原始账号密码..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">新密码:</label>
        <div class="col-sm-9">
            <input id="newpwd" type="password" class="form-control" placeholder="输入新的账号密码..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">密码:</label>
        <div class="col-sm-9">
            <input id="newpwd2" type="password" class="form-control" placeholder="输入确认账号密码..." />
        </div>
    </div>
    <div class="separator miniseparator"></div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <a class="btn_back custom"></a>
            <a class="btn_save"></a>
        </div>
    </div>
</form>