<div class="container">
  <div class="content-header">
    <div class="col-sm-5 col-xs-12">
      <div class="sidebar-collapse btn">
        <i class="fa fa-bars" data-icon1="fa fa-list" data-icon2="fa fa-bars"></i>
      </div>
      <ul class="content-breadcrumb"></ul>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="content-toolbar"></div>
    </div>
  </div>
  <div id="content">
    <div id="content-container">
      <div id="ajax-content" class="animated"></div>
    </div>
  </div>
</div>