<!-- 页面内容 -->
<div class="container">
  <!-- 页面内容头部-->
  <div class="row content-header">
    <div class="col-sm-6 col-xs-12">
      <div class="sidebar-collapse btn">
        <i class="fa fa-bars" data-icon1="fa fa-list" data-icon2="fa fa-bars"></i>
      </div>
      <!-- 页面导航条 -->
      <ul class="content-breadcrumb"></ul>
      <!-- /页面导航条 -->
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="content-toolbar"></div>
    </div>
  </div>
  <!-- /页面内容头部 -->
  <div id="content" class="row">
    <!-- 页面主体内容-->
    <div id="content-container" class="col-xs-12 col-sm-12">
      <div id="ajax-content" class="animated"></div>
    </div>
    <!-- /页面主体内容-->
  </div>
</div>
<!-- /页面内容 -->