<div class="panel panel-default border" id="info">
  <div class="panel-heading">
    <h4 class="panel-title"><i class="fa fa-table"></i> </h4>
  </div>
  <div class="panel-body">
    <form id="role-form" method="post" class="form-horizontal">
    </form>
  </div>
</div>
<tools>
  <a class="btn_back"></a>
  <a class="btn_save"></a>
</tools>

<script id="editor-data-label" type='text/html'>
  ${ text }{{if novalid }}{{else}}*{{/if}}
</script>

<script id="editor-data-select" type='text/html'>
  <select id="${ name }" name="${ name }" class="form-control"/>
</script>

<script id="editor-data-multiple" type='text/html'>
  <select id="${ name }" name="${ name }" multiple="true" class="form-control"/>
</script>

<script id="editor-data-date" type='text/html'>
  <input id="${ name }" name="${ name }" placeholder="请输入${ text }..." type="text" class="form-control form-${type}"/>
</script>

<script id="editor-data-icon" type='text/html'>
  <select id="${ name }" name="${ name }" class="form-control picker-icon"/>
</script>

<script id="editor-data-map" type='text/html'>
  <div class="input-group mappicker">
    <input id="${ name }" name="${ name }" readonly placeholder="请选择${ text }..." type="text" class="form-control"/>
    <span class="input-group-addon">
      <span class="map-set">
        <i class="fa fa-map-marker"></i>
      </span>
    </span>
  </div>
</script>
<!-- || stoplabel || type == 'money'  -->
<script id="editor-data-input" type='text/html'>
  {{if label}}
  <div class="input-group">
  {{/if}}
  <input id="${ name }" name="${ name }" placeholder="请输入${ text }..." type="text" class="form-control"/>
  {{if label }}
    <span class="input-group-addon">${label}</span>
  </div>
  {{/if}}
</script>

<script id="editor-data-mulittext" type='text/html'>
  <textarea id="${ name }" name="${ name }" placeholder="请输入${ text }..." rows="5" class="form-control"/>
</script>

<script id="editor-data-image" type='text/html'>
  <img alt="点击选择${ text }" class="form-control" id="${ name }" name="${ name }"/>
</script>

<script id="editor-data" type="text/html">
  {{each(index,column) $data.columns}}
    {{if column.edit}}
      <div class="form-group">
        <label class="col-sm-3 control-label">
          {{tmpl(column) '#editor-data-label'}}
        </label>
        <div class="col-sm-5">
          {{if column.multiple}}
            {{tmpl(column) '#editor-data-multiple'}}
          {{else column.dict != undefined && column.dict != ""}}
            {{tmpl(column) '#editor-data-select'}}
          {{else column.type == "date" || column.type == "datetime"}}
            {{tmpl(column) '#editor-data-date'}}
          {{else column.type == "mulittext"}}
            {{tmpl(column) '#editor-data-mulittext'}}
          {{else column.type == "icon" }}
            {{tmpl(column) '#editor-data-icon'}}
          {{else column.type == "image" }}
            {{tmpl(column) '#editor-data-image'}}
          {{else column.type == "map" }}
            {{tmpl(column) '#editor-data-map'}}
          {{else}}
            {{tmpl(column) '#editor-data-input'}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</script>