<!-- <style>
  form *[class*='col'] {
    padding-bottom: 10px;
  }
</style> -->
<div class="row">
  <!-- <div class="col-sm-12"> -->
  <div id="filter-container">
    <form id="role-form" method="post" class="form-horizontal">
    </form>
  </div>
  <!-- </div> -->
</div>
<div class='action-bar'>
  <div class="view-action">
    <a class="btn_add" />
    <a class="btn-selectall" />
    <a class="btn-selectopp" />
    <a class="btn_edit" />
    <a class="btn_remove" />
    <a class="btn_look" />
  </div>
  <div class="common-action">
    <a class="btn_search" />
    <a class="btn_export" />
    <a class="btn_refresh" />
    <a class="btn_reset" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="record-container">
      <table id="table" />
    </div>
  </div>
</div>