<style>
  form label,
  form div {
    padding-bottom: 10px;
  }
</style>
<div id="filter-container"></div>
<div id="record-container"></div>
<tools>
  <a class="btn_add" />
  <a class="btn_export" />
  <a class="btn_refresh" />
  <a class="btn_search" />
  <a class="btn_reset" />
  <a class="btn_filter" />
</tools>
<!--查询条件模板-->
<script id="filter-panel" type="text/x-jquery-tmpl">
  <form id="role-form" method="post" class="form-horizontal">
    {{tmpl($data) '#filter-data'}}
  </form>
</script>
<!--查询条件内容模板-->
<script id="filter-data" type="text/x-jquery-tmpl">
  {{each(index,column) $data.columns}}
    {{if column.filter == "daterange"}}
      <label class="col-xs-4 control-label">${ column.text }</label>
      <div class="col-xs-8">
        <input id="${ column.name }_1" placeholder="请选择${ column.text }范围最小值..." class="form-control" type="text" />
      </div>
      <label class="col-xs-4 control-label">---</label>
      <div class="col-xs-8">
        <div class="input-group">
          <input id="${ column.name }_2" placeholder="请选择${ column.text }范围最大值..." class="form-control" type="text" />
          <span class="input-group-addon">
            <a id="${ column.name }_range"><i class="fa fa-calendar"></i></a>
          </span>
        </div>
      </div>
    {{else column.filter != undefined && column.filter != false}}
      <label class="col-xs-4 control-label">${ column.text }</label>
      <div class="col-xs-8">
        {{if column.dict != undefined && column.dict != ""}}
          {{if column.multiple}}
            <select id="${ column.name }" name="${ column.name }" class="form-control" multiple="true" />
          {{else}}
            <select id="${ column.name }" name="${ column.name }" class="form-control" />
          {{/if}}
        {{else}}
          <input class="form-control" type="text" id="${ column.name }" name="${ column.name }" placeholder="请输入${ column.text }...">
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</script>
<!--查询结果模板-->
<script id="record-panel" type="text/x-jquery-tmpl">
  <table id="table" />
</script>