* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  outline: medium none !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Sans GB", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
  -webkit-appearance: none;
  /*box-shadow: none !important;*/
}

a {
  text-decoration: none;
}
body{
  transition: 0.4s;
}
.showmenu {
  transform: rotate(0) translateZ(100px) scale(.8);
  /*translate(75%, 0%);*/

}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #333;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #eee;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #62a7e5;
}

body {
  background: url(../img/1080.jpeg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  user-select: none;
  padding: 0;
  margin: 0;
}

footer {
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #ccc;
}

section {
  height: 95%;
  width: 95%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-shadow: 5px 5px 5px #666;
  border-radius: 15px;
  display: flex !important;
  flex-direction: row;
}

.nui-navigator {
  width: 120px;
  /*height: calc(98vh - 50px);*/
  overflow: hidden;
  background-color: #62a7e5;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.nui-navigator>li {
  display: list-item;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: none;
  margin: 5px;
  margin-right: 0px;
  padding-right: 2px;
  cursor: pointer;
}

.nui-navigator>li>a {
  display: block;
  position: relative;
  margin: 0;
  border: 0 none;
  padding: 5px;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nui-navigator>li>a>i {
  font-size: 48px;
  flex: 1;
}

.nui-navigator>li>a>span {
  font-size: 20px;
  line-height: 40px;
}

.nui-navigator>li:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.nui-navigator>li.nui-active {
  border-color: #fff;
  background-color: #fff;
}

.nui-navigator>li.nui-active>a {
  color: #62a7e5 !important;
}

.nui-container {
  flex: 1;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nui-container>.nui-header {
  border-bottom: 1px solid #ccc;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
}

.nui-container>.nui-header a, .nui-container>.nui-header a:hover, .nui-container>.nui-header a:focus, .nui-container>.nui-header a:active {
  color: #62a7e5;
}

.nui-container>.nui-header a:hover {
  text-decoration: underline;
}

.nui-container .nui-header-left, .nui-container .nui-header-right {
  font-size: 20px;
  margin: 0;
  padding: 10px 18px;
  list-style: none;
  color: #545454;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nui-container .nui-header-left span, .nui-container .nui-header-right span {
  margin-left: 5px;
}

.nui-header-left>li, .nui-header-right>li {
  flex: auto;
  margin: 0;
  padding: 0px 10px;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.nui-header-right>li {
  border-left: none;
}

.nui-header-left>li:first-child {
  border-left: none;
}

.nui-container .nui-header-block {
  flex: 1;
}

.nui-container>.nui-content {
  overflow: hidden;
}

.nui-container>.nui-content>.nui-content-view {
  height: calc(95vh - 80px);
  overflow: auto;
  padding: 15px;
}


/* BACKGROUNDS */

.gray-bg {
  background-color: #f0f3f4 !important;
}

.white-bg {
  background-color: #ffffff !important;
}

.navy-bg {
  background-color: #23b7e5 !important;
  color: #ffffff !important;
}

.blue-bg {
  background-color: #1c84c6 !important;
  color: #ffffff !important;
}

.lazur-bg {
  background-color: #23c6c8 !important;
  color: #ffffff !important;
}

.yellow-bg {
  background-color: #f8ac59 !important;
  color: #ffffff !important;
}

.red-bg {
  background-color: #ed5565 !important;
  color: #ffffff !important;
}

.black-bg {
  background-color: #262626 !important;
}


/*
 *  Usage:
 *
 *    BLOCK
 *
 */

.sk-spinner {
  background-color: #fff;
}

.blockElement {
  position: absolute;
  margin: auto;
  background: none;
  border: none;
}

.loading-message {
  line-height: 40px;
  font-size: 20px;
  margin-top: 20px;
  vertical-align: middle;
}


/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-rotating-plane"></div>
 *
 */

.sk-spinner-rotating-plane.sk-spinner {
  width: 40px;
  height: 40px;
  background-color: #1d9d74;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}