<div class="modal-header">
  <div class="pull-right">
    <a id="btn_back"></a>
    <a id="btn_save"></a>
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">车辆信息维护</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-1 control-label">车辆名称</label>
        <div class="col-sm-3">
          <input id="vname" placeholder="输入车辆名称..." class="form-control" type="text">
        </div>
        <label class="col-sm-1 control-label">SIM卡号</label>
        <div class="col-sm-3">
          <input id="sim" placeholder="输入SIM卡号..." class="form-control" type="text">
        </div>

        <label class="col-sm-1 control-label">车辆类型</label>
        <div class="col-sm-3">
          <select id="ctype" class="form-control select2" />
        </div>
      </div>
      <div class="form-group">

        <label class="col-sm-1 control-label">车辆颜色</label>
        <div class="col-sm-3">
          <select id="color" class="form-control select2" />
        </div>

        <label class="col-sm-1 control-label">车辆特征</label>
        <div class="col-sm-3">
          <input id="vCharacter" placeholder="输入车辆特征..." class="form-control" type="text">
        </div>

        <label class="col-sm-1 control-label">百公里油耗</label>
        <div class="col-sm-3">
          <input id="oilConsume" placeholder="输入百公里油耗..." class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">车架号</label>
        <div class="col-sm-3">
          <input id="frameCode" placeholder="输入车架号..." class="form-control" type="text">
        </div>

        <label class="col-sm-1 control-label">发动机号</label>
        <div class="col-sm-3">
          <input id="qryNum" placeholder="输入发动机号..." class="form-control" type="text">
        </div>
        <label class="col-sm-1 control-label">行驶证号</label>
        <div class="col-sm-3">
          <input id="drivingLicence" placeholder="输入行驶证号..." class="form-control" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">行驶证发证日期</label>
        <div class="col-sm-3">
          <input id="runDate" placeholder="输入行驶证发证日期..." type="text" class="form-control form_date">
        </div>
        <label class="col-sm-1 control-label">行车有效日期</label>
        <div class="col-sm-3">
          <input id="drivingLicenseDate" placeholder="输入行车有效日期..." type="text" class="form-control form_date">
        </div>
        <label class="col-sm-1 control-label">运营证号</label>
        <div class="col-sm-3">
          <input id="stopaddr" placeholder="输入运营证号..." class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">购买日期</label>
        <div class="col-sm-3">
          <input id="buyDate" placeholder="输入购买日期..." type="text" class="form-control form_date">
        </div>
        <label class="col-sm-1 control-label">登记日期</label>
        <div class="col-sm-3">
          <input id="registerDate" placeholder="输入登记日期..." type="text" class="form-control form_date">
        </div>
        <label class="col-sm-1 control-label">卖车商家</label>
        <div class="col-sm-3">
          <input id="saleMerchant" placeholder="输入卖车商家..." class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">购车金额</label>
        <div class="col-sm-3">
          <input id="register" placeholder="输入购车金额..." class="form-control" type="text">
        </div>

        <label class="col-sm-1 control-label">购车发票号</label>
        <div class="col-sm-3">
          <input id="registerdept" placeholder="输入购车发票号..." class="form-control" type="text">
        </div>

        <label class="col-sm-1 control-label">附加费证号</label>
        <div class="col-sm-3">
          <input id="registertelphone" placeholder="输入附加费证号..." class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">备注</label>
        <div class="col-sm-11">
          <input id="mark" placeholder="输入备注..." class="form-control" type="text">
        </div>
      </div>
    </div>
  </div>
</div>