<div class="modal-header">
  <div class="pull-right">    
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">车辆管理</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">分组名称</label>
        <div class="col-sm-4">
          <input id="gname" placeholder="输入分组名称..." type="text" class="form-control">
        </div>
        <label class="col-sm-2 control-label">车辆名称</label>
        <div class="col-sm-4">
          <input id="vname" placeholder="输入车辆名称..." type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">SIM卡号</label>
        <div class="col-sm-4">
          <input id="sim" placeholder="输入SIM卡号..." type="text" class="form-control">
        </div>
        <label class="col-sm-2 control-label">驾驶员名称</label>
        <div class="col-sm-4">
          <input id="dname" placeholder="输入驾驶员名称..." type="text" class="form-control">
        </div>
      </div>
      <div class="form-group text-center">
        <div class="input-groupcol col-sm-12">
          <a id="doSearch"></a>
          <a id="doReset"></a>
          <a id="doExport"></a>
        </div>
      </div>
      <div class="col-sm-12">
        <table id="table"></table>
      </div>
    </div>
  </div>
</div>