<div class="modal-header">
	<div class="pull-right">
		<a id="btn_back"></a>
		<a id="btn_save"></a>
		<a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
	</div>
	<h4 class="modal-title">操作员信息维护</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">操作员账号</label>
				<div class="col-sm-4">
					<input id="nickname" placeholder="输入操作员账号..." type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">操作员姓名</label>
				<div class="col-sm-4">
					<input id="username" placeholder="输入操作员姓名..." type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">操作员手机号码</label>
				<div class="col-sm-4">
					<input id="telphone" placeholder="输入操作员手机号码..." type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">操作员电子邮箱</label>
				<div class="col-sm-4">
					<input id="email" placeholder="输入操作员电子邮箱..." type="text" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>