<div class="modal-header" >
		<div class="pull-right">
			<button id="btn_close" data-dismiss="modal" aria-hidden="true"></button>
		</div>
  <h4 class="modal-title">立即拍照</h4>
</div>
<div style="height:300px;" >
		<div style="width:400px;height:65px;border:2px solid #AAAAAA">
		<div style="width:397px;height:25px;background-color:#66CC99"></div>
		<div style="width:400px;height:40px">
		<h4>&nbsp;&nbsp;&nbsp;<a href="#" class="big-link" data-reveal-id="myModal">拍照</a></h4> 
<!-- 		&nbsp;&nbsp;&nbsp;<a href="#" class="big-link" data-reveal-id="myModal">照片列表</a>
		&nbsp;&nbsp;&nbsp;<a href="#" class="big-link" data-reveal-id="myModal">指令状态查看</a> -->
		</div>
		</div>
 		
 </div>