
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">操作员修改</h4>
</div>
<div class="modal-body" style="height:430px;">
	<div style="height:400px;width:340px;margin:-5px auto;">
		<ul>
			<li>姓名:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="13861758995"/></li>
			<li>入员职位:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="输入人员职位"/></li>
			<li>SIM卡号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="13861758995"/></li>
			<li>性别:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="男"/></li>
			<li>出生日期:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="1000-09-31"/></li>
			<li>身份证号码:&nbsp;&nbsp;<input type="text" value="输入人员身份证号码"/></li>
			<li>家庭住址:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="13861758995"/></li>
			<li>办公室电话:&nbsp;&nbsp;<input type="text" value="13861758995"/></li>
			<li>家庭电话:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="13861758995"/></li>
			<li>部门:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="输入人员"/></li>
		</ul>
	</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">保存</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<style>
li{list-style-type:none;}
div ul li{margin-bottom:15px}
</style>
