
<div class="modal-header">
  <div class="pull-right">
   
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">详细信息</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form" id="role-form">
        <div class="form-group">
          <label class="col-sm-1 control-label">目标ID</label>
          <div class="col-sm-3">
            <input id="tId" placeholder="" class="form-control" type="text">
          </div><br><br>
          <label class="col-sm-1 control-label">车辆名称</label>
          <div class="col-sm-2">
            <input id="vName" placeholder="" class="form-control" type="text">
          </div>
          
          <label class="col-sm-1 control-label">油路控制</label>
          <div class="col-sm-2">
            <input id="sim" placeholder="" class="form-control" type="text">
          </div><br><br>
        </div>
       <div class="form-group">  
          <label class="col-sm-1 control-label">SIM卡号</label>
          <div class="col-sm-2">
            <input id="sim" placeholder="" class="form-control" type="text">
          </div>
          
          <label class="col-sm-1 control-label">位置跟踪</label>
          <div class="col-sm-2">
            <select id="type" class="form-control select2" />
          </div><br><br>
          
          <label class="col-sm-1 control-label">车辆密码</label>
          <div class="col-sm-2">
            <input id="drivingLicenceDate" type="text" class="form-control form_date">
          </div><br><br>
        </div>
        <div class="form-group">          
          <label class="col-sm-1 control-label">超速告警</label>
          <div class="col-sm-2">
            <input id="alarm" placeholder="" class="form-control" type="text">
          </div>
          
          <label class="col-sm-1 control-label">车辆类型</label>
          <div class="col-sm-2">
            <input id="type" type="text" class="form-control form_date">
          </div><br><br>
        </div>
        
        <div class="form-group">
          <label class="col-sm-1 control-label">区域告警</label>
          <div class="col-sm-2">
            <input id="vCharacter" placeholder="" class="form-control" type="text">
          </div>
          <label class="col-sm-1 control-label">车辆颜色</label>
          <div class="col-sm-2">
            <input id="color" placeholder="" class="form-control" type="text">
          </div><br><br>
        </div>
        
        <div class="form-group">
          <label class="col-sm-1 control-label">百公里油耗</label>
          <div class="col-sm-2">
            <input id="oilConsume" placeholder="" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">驾驶员号码</label>
          <div class="col-sm-2">
            <input id="vphonenumber" placeholder="" class="form-control" type="text">
          </div><br><br>
          
          <label class="col-sm-1 control-label">驾驶员</label>
          <div class="col-sm-2">
            <input id="vOwner" placeholder="" class="form-control" type="text">
          </div>
          
          <label class="col-sm-1 control-label">定位计划</label>
          <div class="col-sm-2">
            <input id="location" type="text" class="form-control form_date">
          </div><br><br>
        </div>
       </form>
        </div>
      
    </div>
  </div>
