
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">新增定位计划</h4>
</div>
<div class="modal-body" style="height:435px">
	<div style="width:500px;height:210px;margin:0 auto;border:2px solid #CCCCCC">
		<ul>
			<li>计划名称：&nbsp;<input type="text" /></li>
			<li>开始日期：&nbsp;<input type="text" /></li>
			<li>结束日期：&nbsp;<input type="text" /></li>
			<li>开始时间：&nbsp;<input type="text" /></li>
			<li>结束时间：&nbsp;<input type="text" /></li>
			<li>定位间隔(秒)：&nbsp;<select><option selected>5秒</option><option>10秒</option><option>30秒</option></select></li>
			<li>周定位计划&nbsp;&nbsp;<input type="radio" name="a">&nbsp;&nbsp;月周定位计划&nbsp;&nbsp;<input type="radio"  name="a"></li>
		</ul>
	</div>
	<div style="width:500px;height:70px;margin:3px auto;border:1px solid #CCCCCC">
	<div style="width:498px;height:20px;border:1px solid #CCCCCC;background-color:#99CC99">&nbsp;&nbsp;周定位计划</div>
	<div style="width:498px;height:50px;border:1px solid #CCCCCC">
	<input type="checkbox">全选<br/>
	<input type="checkbox">周一<input type="checkbox">周二<input type="checkbox">周三
	<input type="checkbox">周四<input type="checkbox">周五<input type="checkbox">周六
	</div>
	</div>
	
	<div style="width:500px;height:120px;margin:3px auto;border:1px solid #CCCCCC">
	<div style="width:498px;height:20px;border:1px solid #CCCCCC;background-color:#99CC99">&nbsp;&nbsp;月定位计划</div>
	<div style="width:498px;height:100px;border:1px solid #CCCCCC">
	<input type="checkbox">全选<br/>
	<input type="checkbox">1&nbsp;日<input type="checkbox">2&nbsp;日<input type="checkbox">3&nbsp;日
	<input type="checkbox">4&nbsp;日<input type="checkbox">5&nbsp;日<input type="checkbox">6&nbsp;日<input type="checkbox">7&nbsp;日
		<input type="checkbox">8&nbsp;日<input type="checkbox">9&nbsp;日</br><input type="checkbox">10日<input type="checkbox">11日<input type="checkbox">12日&nbsp;<input type="checkbox">13日<input type="checkbox">14日<input type="checkbox">15日<input type="checkbox">16日&nbsp;<input type="checkbox">17日<input type="checkbox">18日</br><input type="checkbox">19日<input type="checkbox">20日<input type="checkbox">21日
		<input type="checkbox">22日<input type="checkbox">23日<input type="checkbox">24日<input type="checkbox">25日&nbsp;<input type="checkbox">26日<input type="checkbox">27日<br/><input type="checkbox">28日<input type="checkbox">29日<input type="checkbox">30日&nbsp;<input type="checkbox">31日
	
	</div>
	</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">保存</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<style>
li{list-style-type:none;}
div ul li{margin-bottom:5px}
</style>
