
<div class="modal-header">
  <div class="pull-right">
   
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">操作员详细信息</h4>
</div>
<div class="modal-body" >
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form" id="role-form">
        <div class="form-group">
          <label class="col-sm-1 control-label">操作员姓名：</label>
          <div class="col-sm-3">
            <input id="userName" placeholder="" class="form-control" type="text">
          </div><br><br>
          
          <label class="col-sm-1 control-label">操作员用户名：</label>
          <div class="col-sm-2">
            <input id="loginName" placeholder="" class="form-control" type="text">
          </div><br><br>
           
          <label class="col-sm-1 control-label">操作员手机号：</label>
          <div class="col-sm-2">
            <input id="telphone" placeholder="" class="form-control" type="text">
          </div><br><br>
         </div>
          <div class="form-group">
          <label class="col-sm-1 control-label">邮箱：</label>
          <div class="col-sm-2">
            <input id="Emile" placeholder="" class="form-control" type="text">
          </div><br><br>
          
          <label class="col-sm-1 control-label">备注:</label>
          <div class="col-sm-2">
             <input id="remark" placeholder="" class="form-control" type="text">
          </div><br><br>
           </div>
          
        
       </form>
        </div>
      
    </div>
  </div>
