
<form id="role-form" method="post" class="form-horizontal">
  <div class="panel panel-default border">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-table"></i> 基本信息</h4>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label class="col-sm-3 control-label">商户名称</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入商户名称..." />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">店铺名称</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入店铺名称..." />
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-3 control-label">所属省份</label>
          <div class="col-sm-5">
            <select type="text" class="select2 form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">所属城市</label>
          <div class="col-sm-5">
            <select type="text" class="select2 form-control" />
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">联系电话</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入联系电话..." />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">店铺地址</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="rolename" name="rolename" placeholder="输入店铺地址..." />
        </div>
      </div>
      
    </div>
  </div>

  <div class="panel panel-default border">
    <div class="panel-heading">
      <h4 class="panel-title"><i class="fa fa-sitemap"></i> 服务项目</h4>
    </div>
    <div class="panel-body">
      <div class="form-group" id="role-container"></div>
    </div>
  </div>

</form>
<tools>
  <a class="btn_back"></a>
  <a class="btn_save"></a>
</tools>