<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">需求建议 & 故障报修</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<h4>我们需要改进哪些地方？</h4>
			<p>
				<input type="text" placeholder="请输入需要我们改进的地方..." class="col-md-12 form-control">
			</p>
			<h4>联系人</h4>
			<p>
				<input type="text" placeholder="请输入联系人姓名..." class="col-md-12 form-control">
			</p>
			<h4>联系电话</h4>
			<p>
				<input type="text" placeholder="请输入联系人电话..." class="col-md-12 form-control">
			</p>
			<h4>电子邮箱</h4>
			<p>
				<input type="text" placeholder="请输入联系人电子邮箱..." class="col-md-12 form-control">
			</p>
			感谢您花时间向我们发送反馈！虽然我们可能无法回答每条反馈，但我们确保每个反馈都经人查看。
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn blue">提交</button>
</div>