<div class="modal-header">
  <div class="pull-right">
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">审批</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form" id="role-form">
        <div class="form-group">
          <label class="col-sm-1 control-label">姓名</label>
          <div class="col-sm-2">
            <input id="username" placeholder="输入审批人姓名..." class="form-control" type="text">
          </div>
          <label class="col-sm-1 control-label">用户名</label>
          <div class="col-sm-2">
            <input id="loginname" placeholder="输入审批人用户名..." class="form-control" type="text">
          </div>
          <label class="col-sm-1 control-label">手机号</label>
          <div class="col-sm-2">
            <input id="telphone" placeholder="输入审批人手机号..." class="form-control" type="text">
          </div>
          <label class="col-sm-1 control-label">调度身份</label>
          <div class="col-sm-2">
            <select id="dispatchtype" class="form-control select2" />
          </div>
        </div>
        <div class="form-group text-center">
          <div class="col-sm-12">
            <a id="btn_search"></a>
            <a id="btn_reset"></a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <table id="table"></table>
    </div>
  </div>
</div>