<div class="modal-header">
  <div class="pull-right">
    <a id="btn_reject"></a>
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">驳回</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item">
          <h4 class="list-group-item-heading">驳回理由一</h4>
          <p class="list-group-item-text">其他原因</p>
        </a>
        <a href="javascript:;" class="list-group-item">
          <h4 class="list-group-item-heading">驳回理由二</h4>
          <p class="list-group-item-text">其他原因</p>
        </a>
        <a href="javascript:;" class="list-group-item">
          <h4 class="list-group-item-heading">其他原因</h4>
          <p class="list-group-item-text">输入其他原因</p>
        </a>
      </div>
    </div>
    <div class="col-sm-12">
      <form class="form-horizontal" role="form" id="role-form">
        <div class="form-group">
          <label class="col-sm-3 control-label">驳回理由</label>
          <div class="col-sm-9">
            <input id="text" placeholder="输入驳回理由..." class="form-control" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<div class="list-group">
  <a href="javascript:;" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    </p>
  </a>
  <a href="javascript:;" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    </p>
  </a>
  <a href="javascript:;" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">
      Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    </p>
  </a>
</div>-->
