<div class="modal-header">
  <div class="pull-right">
    <a id="btn_rejoin"></a>
    <a id="btn_close" data-dismiss="modal" aria-hidden="true"></a>
  </div>
  <h4 class="modal-title">车辆归队</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form" id="role-form">
        <div class="form-group">
          <label class="col-sm-3 control-label">出车时间</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form_date" id="realChuCarTime">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">归队时间</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form_date" id="realReturnTime">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">油耗费用</label>
          <div class="col-sm-9">
            <input id="oilCost" placeholder="输入油耗费用..." class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">过路（桥）费用</label>
          <div class="col-sm-9">
            <input id="roalCost" placeholder="输入过路、过桥费用..." class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">事故保险费用</label>
          <div class="col-sm-9">
            <input id="accInsuCost" placeholder="输入事故保险费用..." class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">洗车费用</label>
          <div class="col-sm-9">
            <input id="washCarCost" placeholder="输入洗车费用..." class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">修车费用</label>
          <div class="col-sm-9">
            <input id="repairCarCost" placeholder="输入修车费用..." class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">其他费用</label>
          <div class="col-sm-9">
            <input id="otherCost" placeholder="输入其他费用..." class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">使用里程</label>
          <div class="col-sm-9">
            <input id="usedMile" placeholder="输入使用里程..." class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">备注</label>
          <div class="col-sm-9">
            <input id="remark" placeholder="输入备注..." class="form-control" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>