<div class="alert alert-block alert-info fade in">
  <a class="close" data-dismiss="alert" href="#" aria-hidden="true">×</a>
  <p></p>
  <h4>
    <i class="fa fa-check-square-o"></i> 密码规则</h4>
  <p>1、密码长度不应小于8个字符；</p>
  <p>2、至少包含以下4种类别中的2种：大写字母、小写字母、数字、特殊符号</p>
  <p>3、应避免设置与其他业务相同的密码</p>
  <p></p>
</div>
<form class="form-horizontal form-border">
  <div class="form-group">
    <label class="col-sm-3 control-label">新密码:</label>
    <div class="col-sm-9">
      <input id="newpwd" type="password" class="form-control password" placeholder="输入新的密码..." />
      <div class="pw-strength">
        <div class="pw-bar-on"></div>
        <div class="pw-txt">
          <span>弱</span>
          <span>中</span>
          <span>强</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">密码:</label>
    <div class="col-sm-9">
      <input id="newpwd2" type="password" class="form-control" placeholder="输入确认密码..." />
    </div>
  </div>
</form>

<tools>
  <button class="btn-save" />
  <button data-dismiss="modal" class="btn-close" />
</tools>